<!-- Author: Ross Hartley
     Email:  rosshart@umich.edu
     Date:   11/02/2017   -->

<launch>
	<!-- Input Arguments -->
	<arg name="cassie_namespace" default="cassie" />
	<arg name="camera_namespace" default="multisense" />
  	<arg name="camera_type" default="S7" />

	<!-- Load URDFs -->
	<param name="cassie_description" textfile="$(find cassie_description)/urdf/cassie_with_sensors.urdf"/>
    	<param name="multisense_description" command="$(find xacro)/xacro.py '$(find multisense_description)/urdf/multisense$(arg camera_type)/standalone.urdf.xacro' name:=$(arg camera_namespace)"/>

	<!-- Cassie state publisher -->
	<node pkg="robot_state_publisher" type="state_publisher" name="$(arg cassie_namespace)_state_publisher">
		<param name="tf_prefix" value="/$(arg cassie_namespace)" />
		<param name="publish_frequency" type="double" value="100.0" />
		<remap from="robot_description" to="cassie_description" />
		<remap from="joint_states" to="/$(arg cassie_namespace)/joint_states" />
	</node>

	<!-- Cassie joint publisher -->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
  		<param name="use_gui" value="true" />
		<param name="robot_description" textfile="$(find cassie_description)/urdf/cassie_with_sensors.urdf"/>
		<remap from="joint_states" to="/$(arg cassie_namespace)/joint_states" />
	</node>

	<!-- Camera state publisher -->
	<node pkg="robot_state_publisher" type="state_publisher" name="$(arg camera_namespace)_state_publisher">
		<param name="publish_frequency" type="double" value="50.0" />
		<remap from="robot_description" to="multisense_description" />
		<remap from="joint_states" to="/$(arg camera_namespace)/joint_states" />
	</node>

	<!-- Fixed pelvis to camera transformation publisher -->
	<node pkg="tf" type="static_transform_publisher" name="fixed_camera_broadcaster" args="0 0 0 0 0 0 1 cassie/multisense multisense/head 100" />

	<!-- Display -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find cassie_description)/rviz/cassie_camera.rviz" required="false" />

</launch>
